<% content_for :title, 'Zdjęcia' %>

<h1>Zdjęcia</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Opis</th>
      <th colspan="3">Plik</th>

    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to photo.title, photo_path(photo) %></td>
        <td><%= photo.description %></td>
        <td><%= photo.image %></td>
        <td><%= link_to 'Edytuj', edit_photo_path(photo) %></td>
        <td><%= link_to 'Skasuj', photo, method: :delete, data: { confirm: 'Na pewno usunąć?'}   %></td>
      </tr>
    <% end %>
  </tbody>
</table>
